<h1>Neue Familie</h1>
<div class="row">
  <div class="col-2">Familienname</div>
  <div class="col-10"><input type="text" class="form-control" id="familyName" value=""></div>
</div>
<hr>
<h3>Elternteile:</h3>
<div class="adultTemplates" id="adultTemplates">
</div>
<button class="btn btn-primary" role="button" id="newFamily" onclick="addTemplate('adult')"><i class="fa fa-plus"></i> Elternteil</button>
<hr>
<h3>Kind(er)</h3>
<div class="childTemplates" id="kidTemplates">
</div>
<button class="btn btn-primary" role="button" id="" onclick="addTemplate('kid')"><i class="fa fa-plus"></i> Kind</button>
<hr>
<button class="btn btn-success" role="button" id=""><i class="fa fa-check"></i> Fertig</button>
